---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<div class="flex items-center justify-center h-full">
  <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-6 text-center">
    <h2 class="text-2xl font-bold text-red-600">¡Error!</h2>
    <p class="mt-4 text-slate-700">{message}</p>
    <button 
      class="mt-6 px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400"
      onclick="window.location.reload()"
    >
      Recargar página
    </button>
  </div>
</div>
