---
import type { Product } from '../../services/product.service';

interface Props {
  product: Product
}

const { product } = Astro.props;
const { id, name, image, value } = product
---
<a href={`/product/${id}`} >
  <article class="rounded-3xl transition-all active:scale-95">
    <div class="w-full aspect-square overflow-hidden relative">
      <img 
        transition:name={`product-${id}-image`}
        class="w-full h-full object-cover rounded-3xl"
        src={image ? image : 'https://i.ebayimg.com/images/g/RjMAAOSw0lxmFyVI/s-l1200.jpg'} 
        alt=""
      >
    </div>
    <div class="text-center p-2">
      <h4>
        {name}
      </h4>
      <h5 class="text-rose-500 font-medium text-lg">
        ${value.toLocaleString()} CLP
      </h5>
    </div>
  </article>
</a>
