---
import ProductCard from "../components/astro/ProductCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseButton from "../components/vue/BaseButton.vue";
import BaseSection from "../components/astro/BaseSection.astro";
import { ProductService } from "../services/product.service";
import PopularProductCard from "../components/astro/PopularProductCard.astro";
const productService = new ProductService(import.meta.env.SSR_API_URL)
const products = await productService.find();
const topProducts = await productService.findTopProducts();

const title = "Kufumi";
const description = `Kufumi es una tienda y ecommerce de productos anime, videjuegos y series que implementa mecanicas unicas para enriquecer tu experiencia.`
---

<BaseLayout title={title} description={description} robots="index, follow">
	<main class="py-2 space-y-4">
		<BaseSection width="lg" title="Productos destacados" subtitle="Los productos mas solicitados durante este mes">
			<div class="flex flex-col">
				<div class="grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">

					{topProducts.map((popularProduct, index)=>(
						<PopularProductCard popularProduct={popularProduct}></PopularProductCard>
					))}
				</div>
		
				<BaseButton class:list={'self-center'}>
					<span class="w-max">Ver mas</span>
					<i class="bi bi-chevron-right"></i>
				</BaseButton>
			</div>
		</BaseSection>

		<BaseSection width="lg" title="Lo mas reciente" subtitle="Los productos mas Recientes">
			<div class="flex flex-col">
				<div class="grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">

					{products.map((product)=>(
						<ProductCard  product={product}></ProductCard>
					))}
				</div>
		
				<BaseButton class:list={'self-center'}>
					<span class="w-max">Ver mas</span>
					<i class="bi bi-chevron-right"></i>
				</BaseButton>
			</div>
		</BaseSection>

		<BaseSection width="lg" title="Seccion de ejemplo" subtitle="Un componente reutilizable y ugly.">
			<div>
				Helows arisu
			</div>
		</BaseSection>
	</main>
</BaseLayout>

